// sub
$sub: rgb(255, 204, 0);

// main-1
$main: rgba(10, 107, 181, 1);

// main-2
$main_r: rgba(10, 107, 181, .7);

// 白色
$wt: #ffffff;

// ブラック
$bk: #000000;

// 紺
$db: #1B224C;

// グレー
$gr: #707070;

//薄いグレー
$r-gr: #f8f8f8;

// header
$header: rgba(255, 255, 255, 0.8);

// topfvoverlay
$overlay: rgba(255, 255, 255, 0.3);

//section_bg
$bg: rgba(227, 227, 227, 0.2);


// セクションタイトル
@mixin title {
  margin-bottom: 40px;
  font-size: 3.6rem;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
}

// テキスト
@mixin content {
  font-size: 1.6rem;
  line-height: 1.6;
  letter-spacing: 0.2px;
}