.items {
  width: 100%;
  padding: 90px 10px 60px;
  box-sizing: border-box;
  background: #f8f8f8;
}

.items__wrapper {
  width: 100%;
  max-width: 900px;
  margin: 0 auto 60px;
  box-sizing: border-box;
}

.items__name {
  font-size: 2.8rem;
  text-align: center;
  margin-bottom: 80px;
}

.items__imagebox {
  width: 100%;
  height: 40%;
  margin-bottom: 120px;
}

.items__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.items__container {
  width: 100%;
  padding: 60px 20px 40px;
  margin-bottom: 60px;
  box-sizing: border-box;
  background: #ffffff;
  position: relative;
}

.items__recommend {
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translate(-50%, 0);
  display: inline-block;
  font-size: 1.8rem;
  font-weight: bold;
  color: #ffffff;
  padding: 12px;
  background: #0a6bb5;
  border-radius: 4px;
}

.items__list {
  list-style: none;
}

.items__menu {
  font-size: 1.6rem;
  color: #000000;
  line-height: 1.4;
  margin-bottom: 10px;
}

.items__menu:last-of-type {
  margin-bottom: 0;
}

.items__table {
  width: 100%;
  max-width: 767px;
  margin: 0 auto 60px;
}

.items__row {
  width: 160px;
  padding: 20px;
  box-sizing: border-box;
}

.items__right {
  line-height: 1.6;
}

.items__button {
  display: block;
  width: 200px;
  padding: 20px;
  margin: 0 auto;
  font-size: 1.6rem;
  text-align: center;
  border: 1px solid;
  border-radius: 4px;
  background: #0a6bb5;
  color: #ffffff;
  position: relative;
}

.items__button:after {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  margin: 0 0 0 1.2em;
  border: 6px solid transparent;
  border-right: 0 solid transparent;
  border-left: 8px solid #ffffff;
}
